.tag-cloud {
  margin: 1rem auto;

  > h3 {
    margin: 1rem 0;
  }

  &-list {
    margin-top: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

    a {
      color: var(--primaryText);
      padding: 7px 0;
      text-align: center;
      border-radius: var(--radius);
      background-color: var(--bgcolor-2);
      transition: all 0.1s linear;

      &:hover {
        color: #fff;
        background-color: var(--theme-8);
      }
    }
  }
}

@media (max-width: 768px) {
  .tag-cloud {
    display: none;
  }
}
