//common
@import "common/color";
@import "common/default";
//components
@import "components/nav";
@import "components/content-preview";
@import "components/qrcode";
@import "components/article/article-copyright";
@import "components/comment";
@import "components/sidebar";
@import "components/paginator";
@import "components/infinite-scoroll";
@import "components/friendly-link";
//components/article
@import "components/article/article-tags";
@import "components/article/article-meta";
@import "components/article/article-last-modified-time";
//components/homepage
@import "components/homepage/banner";
@import "components/homepage/tag-cloud";
@import "components/homepage/swiper";
//grid
@import "grid/bento";
//lib
@import "lib/fancy-box";
@import "lib/prismjs";
//default
@import "post";
@import "side-toolbar";
@import "archive";
@import "footer";

#body {
  position: relative;
  padding-top: var(--nav-height);
  margin-bottom: 1rem;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.6s;
}